@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
/*font-family: 'Philosopher', sans-serif;*/

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .banner .container .banner_text {
        font-size: 42px;
        border: 14px solid white;
        -moz-border-image: -moz-linear-gradient(to bottom right, #ffc3e4 0%, #f8eae1 50%, #f7f7f7 100%) 1 stretch;
        -webkit-border-image: -webkit-linear-gradient(to bottom right, #ffc3e4 0%, #f8eae1 50%, #f7f7f7 100%) 1 stretch;
        border-image: linear-gradient(to bottom right, #ffc3e4 0%, #f8eae1 50%, #f7f7f7 100%) 1 stretch;
        margin-top: 141px;
    }

    .banner .container .banner_text p {
        margin: 60px 29px 60px 129px;
    }

    #merits .clearfix:after {
        display: none;
        content: "";
    }

    #merits .merits_item {
        margin-top: 0;
    }

    .container .bestsellers_item {
        margin-bottom: 0;
    }

    body .clearfix:after {
        display: none;
        content: "";
    }

}


@media (min-width: 988px) {

    .logo h1 {
        font-size: 58px;
        font-weight: 700;
    }

    .logo h2 {
        font-size: 13px;
    }

    .container .banner_text {
        font-size: 32px;
        border: 10px solid white;
        -moz-border-image: -moz-linear-gradient(to bottom right, #ffc3e4 0%, #f8eae1 50%, #f7f7f7 100%) 1 stretch;
        -webkit-border-image: -webkit-linear-gradient(to bottom right, #ffc3e4 0%, #f8eae1 50%, #f7f7f7 100%) 1 stretch;
        border-image: linear-gradient(to bottom right, #ffc3e4 0%, #f8eae1 50%, #f7f7f7 100%) 1 stretch;
        margin-top: 101px;
    }

    .container .banner_text p {

        margin: 40px 19px 40px 89px;
    }

    .clearfix:after {
        display: block;
        content: "";
        clear: both;
    }

    .container .discount {
        margin-top: 0;
    }

    .container .stock {
        height: 260px;
    }

    .container .discount {
        height: 260px;
        margin-bottom: 110px;
    }
    .container .stock .stock_name {
        font-size: 24px;
    }
    .container .text_stock {

        margin-top: 72px;
    }

    .discount .text_discount {
        font-size: 24px;
        margin-top: 53px;
    }

    .discount .discount_name span {
        font-size: 72px;
    }

    .container .news {
        margin-bottom: 79px;
    }

    .container .bestsellers {

        margin-bottom: 110px;
    }


    .about_us:after {
        position: absolute;
        content: '';
        background: url("../img/after.png");
        width: 202px;
        height: 310px;
        top: 50%;
        margin-top: -155px;
        right: 0;
    }

    .about_us:before {
        position: absolute;
        top: 70%;
        margin-top: -118px;
        left: -5px;
        content: '';
        background: url("../img/before.png");
        width: 206px;
        height: 237px;

    }

    body .clearfix:after {
        display: none;
        content: "";
    }

    .container .clearfix_footer:after {
        content: "";
        clear: both;
        display: none;
    }

}

@media (min-width: 768px) {
    body .discount_name span {
        font-size: 40px;
    }

    .container .sale {
        margin-top: 43px;
    }

    .container .bookmaks {
        margin-top: 43px;
    }

    .container .catalog a {
        font-size: 18px;
    }

    body .banner:after {
        content: "";
        position: absolute;
        background: url("../img/banner_fon.png");
        width: 463px;
        height: 529px;
        background-size: cover;
        right: 0;
        top: 0;
    }

    body .banner {
        height: 529px;
        margin-bottom: 92px;
    }

    .banner .banner_text {
        background: none;
    }


}


@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: left !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }

    .sale {
        padding-left: 46px;
        margin-top: 23px;
        position: relative;
        margin-left: 24px;
    }

    .sale:before {
        content: "";
        position: absolute;
        background: url("../img/bag.png");
        top: -8px;
        left: 0;
        width: 35px;
        height: 33px;
    }

    .bookmaks {
        padding-left: 42px;
        margin-top: 23px;
        position: relative;
    }

    .bookmaks:before {
        content: "";
        position: absolute;
        background: url("../img/heart_(1).png");
        top: -8px;
        left: 0;
        width: 37px;
        height: 33px;
    }
}

/*logo*/

h1 {
    color: #ff5fb6;
    font-family: 'Philosopher', sans-serif;
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    opacity: 0.9;
    color: #5b5da8;
    font-family: "Century Gothic", sans-serif;
    font-size: 13px;
    font-style: italic;
    margin-top: 0;
}

/*navbar*/

.navbar {
    margin-bottom: 0;
}

.collapse ul li {
    color: #5b5da8;
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.Enter {
    padding-left: 20px;
}

.logo {
    margin-top: 20px;
}

.menu_header {
    color: #5b5da8;
    font-family: "Century Gothic", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.sale {
    padding-left: 46px;
    margin-top: 23px;
    position: relative;
    margin-left: 24px;
}

.sale:before {
    content: "";
    position: absolute;
    background: url("../img/bag.png");
    top: -8px;
    left: 0;
    width: 35px;
    height: 33px;
}

.bookmaks {
    padding-left: 42px;
    margin-top: 23px;
    position: relative;
}

.bookmaks:before {
    content: "";
    position: absolute;
    background: url("../img/heart_(1).png");
    top: -8px;
    left: 0;
    width: 37px;
    height: 33px;
}

.number {
    margin-top: 20px;
}

.number li {
    color: #ff5fb6;
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 0;
    text-align: right;
}

.catalog {
    vertical-align: center;
    position: relative;
    margin-top: 26px;

}

.catalog a {
    text-decoration: none;
    color: #5b5da8;
    font-family: "Century Gothic", sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;

}

.menu_services {
    display: none;
    height: 529px;
    background: rgba(255, 255, 255, 0.9);

}

.menu_services li {
    color: #5b5da8;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 25px;
}


/*banner*/


.banner {
    background: url("../img/banner.png");
    width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-bottom: 68px;
}


.banner_text {
    background: rgba(73%, 57%, 85%, 0.5);
    z-index: 10;
    color: #fffeff;
    font-family: "Century Gothic", sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    border: 8px solid white;
    box-sizing: border-box;
    -moz-border-image: -moz-linear-gradient(to bottom right, #ffc3e4 0%, #f8eae1 50%, #f7f7f7 100%) 1 stretch;
    -webkit-border-image: -webkit-linear-gradient(to bottom right, #ffc3e4 0%, #f8eae1 50%, #f7f7f7 100%) 1 stretch;
    border-image: linear-gradient(to bottom right, #ffc3e4 0%, #f8eae1 50%, #f7f7f7 100%) 1 stretch;
    margin-top: 81px;
    margin-bottom: 50px;
}

.banner_text p {
    box-sizing: border-box;
    margin: 30px 19px 30px 59px;
}

/*merits*/

#merits {
    margin-bottom: 80px;
}

#merits h3 {
    text-align: center;
    color: #5b5da8;
    font-family: "Century Gothic", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 54px;
    margin-bottom: 36px;
}

#merits h3 > span {
    padding-bottom: 16px;
    border-bottom: 6px solid blue;
    border-image: linear-gradient(to right, #ffc3e4 0%, #f8eae1 50%, #f7f7f7 100%) 1 space;
}

#merits p {
    margin: 0 26px 53px;
    color: #868686;
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.merits_item {
    margin-top: 30px;
}


/**/


.quality {
    border: 14px solid rgba(75%, 76%, 77%, 0.13);
}

.quality:before {
    content: '';
    background: url("../img/quality.png");
    width: 62px;
    height: 62px;
    position: absolute;
    top: -13px;
    left: 33px;
}

.service {
    border: 14px solid rgba(218, 193, 179, 0.13);
}

.service:before {
    content: '';
    background: url("../img/service.png");
    width: 36px;
    height: 56px;
    position: absolute;
    top: -11px;
    left: 46px;
}

.success {
    border: 14px solid rgba(36%, 36%, 66%, 0.08);
}

.success:before {
    content: '';
    background: url("../img/success.png");
    width: 62px;
    height: 60px;
    position: absolute;
    top: -16px;
    left: 40px;

}

.stock {
    background: url("../img/stock.png");
    height: 180px;
    width: 100%;
    background-size: cover;
}

.stock .stock_name {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Century Gothic", sans-serif;
    margin-bottom: 0;
}

.text_stock {
    background: #c5b3d8;
    margin-top: 24px;
}

.stock p {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
}

.discount {
    margin-top: 30px;
    background: url("../img/sale.png");
    width: 100%;
    height: 180px;
    background-size: cover;
    margin-bottom: 60px;
}

.text_discount {
    text-align: right;
    color: #707070;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Century Gothic", sans-serif;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 30px;
}

.discount_name span {
    font-size: 26px;
}


/*bestsellers*/


.bestsellers {
    position: relative;
    margin-bottom: 50px;
}

.bestsellers:before {
    position: absolute;
    content: "";
    background: url("../img/bestseller.png");
    width: 66px;
    height: 60px;
    top: -30px;
    left: 50%;
    margin-left: -33px;
}

.container_header h2 {
    text-align: center;
    margin-bottom: 66px;
}

.container_header h2 span {
    color: #5b5da8;
    font-family: "Century Gothic", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 6px solid blue;
    border-image: linear-gradient(to right, #ffc3e4 0%, #f8eae1 50%, #f7f7f7 100%) 1 space;
    padding-bottom: 8px;
}

.bestsellers_item {
    border: 14px solid rgba(205, 205, 205, 0.1);
    box-sizing: border-box;
    color: #5b5da8;
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.bestsellers_item h4 {
    text-align: center;
    color: #5b5da8;
    font-size: 14px;
    font-weight: 700;
    font-family: "Sitka Heading", sans-serif;
    font-style: italic;
    text-transform: uppercase;
    height: 44px;
    overflow: hidden;
}

.img-responsive {
    margin: 15px auto;
    height: 150px;
    overflow: hidden;


}

.price {
    margin-top: 65px;
    text-align: center;
    font-family: "Century Gothic", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ff5fb6;
}

.price span {
    color: #5b5da8;
    text-decoration: line-through;
    font-size: 14px;
}

.best_item_buy {
    margin-left: 33px;
    margin-bottom: 43px;
    text-align: center;
}

.quantity {
    outline: none;
    width: 31px;
    height: 31px;
    border: 1px solid #5b5da8;
    text-align: center;
    color: #5b5da8;
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 50%;
    margin-left: 3px;
}

.quantity span {

}

.buy {
    margin-left: 17px;
    border: 1px solid #ff5fb6;
    border-radius: 30px;
    background-color: #ff5fb6;
    width: 79px;
    height: 30px;
    color: white;
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    transition: font-size 2s linear;
}

.buy:hover {
    font-size: 17px;
}

.buy:active {
    background-color: white;
}


/*news*/

.news {
    position: relative;
    margin-bottom: 39px;
}

.news:before {
    position: absolute;
    content: "";
    background: url("../img/news.png");
    width: 62px;
    height: 61px;
    top: -15px;
    left: 50%;
    margin-left: -31px;
}

/*reviews*/

.reviews {
    height: 421px;
    background: #c5b3d8;
}

.item_carousel {
    margin-top: 30px;
    position: relative;
}

.item_carousel:before {
    top: -20px;
    left: 30%;
    position: absolute;
    content: '';
    width: 165px;
    height: 121px;
    border: 14px solid #ffffff;
    opacity: 0.13;
}

.reviews h2 {
    margin: 83px 0 48px;
}

.text_reviews {
    max-height: 114px;
    overflow: hidden;
    color: #ffffff;
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;

}

.name_reviews {
    max-height: 50px;
    overflow: hidden;
    font-family: "Century Gothic", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 20px;
}

.button_carousel {
    border: #5b5da8 1px solid;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-left: 9px;
    color: #5b5da8;
    padding-top: 7px;
}

.button_carousel:active {
    background: white;
}

#prev_item_carousel {
    margin-right: 30px;
}

.arrow_carousel {
    margin-top: 25px;
}


/*about_us*/


.about_us {
    position: relative;
    overflow: hidden;
}

.about_us_header {
    position: relative;
}

.about_us_header:before {
    content: '';
    background: url("../img/flower.png");
    width: 58px;
    height: 42px;
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -29px;
}

.about_us h2 {
    position: relative;
    margin-top: 91px;
}

.about_us h2 span {
    font-size: 30px;
}

.text_carousel_about_us {
    color: #707070;
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.button_about_us:active {
    background: #c5b3d8;
}

.item_about_us_carousel {
    overflow: hidden;
    margin-bottom: 15px;
}

#prev_item_carousel_about_us {
    position: absolute;
    top: 50%;

}

#next_item_carousel_about_us {
    z-index: 10;
    position: absolute;
    top: 50%;
    right: 10%;

}

.button_about_us_carousel {
    margin-top: 25px;
}


/*footer*/

.footer {
    background-color: #765598;
}

.footer h2 {
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: left;
}

.footer h2 span {
    color: #ffffff;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.list_catalog_footer {
    margin-bottom: 60px;
}

.list_catalog_footer li {
    position: relative;
    margin-bottom: 8px;
}

.list_catalog_footer a {
    color: #ffffff;
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.list_catalog_footer li p {
    margin-bottom: 0;
    color: #ffffff;
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 58px;
}

.address_footer:before {
    content: "";
    background: url("../img/geo.png");
    width: 21px;
    height: 31px;
    top: 0;
    left: 5px;
    position: absolute;
}

.mail_footer:before {
    content: "";
    background: url("../img/email.png");
    width: 27px;
    height: 25px;
    top: 0;
    left: 2px;
    position: absolute;
}

.phone_footer:before {
    content: "";
    background: url("../img/phone.png");
    width: 30px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 7px;
}

.work_footer:before {
    content: "";
    background: url("../img/work.png");
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 0;
}

.list_social a {
    background: url("../img/social.png") no-repeat;
    width: 41px;
    height: 41px;
    display: inline-block;
    margin-right: 10px;
}

.list_social .vk {
    background-position: 0 0;
}

.list_social .vk:hover {
    background-position: 0 -41px;
}

.list_social .instagram {
    background-position: -41px 0;
}

.list_social .instagram:hover {
    background-position: -41px -41px;
}

.list_social .facebook {
    background-position: -82px 0;
}

.list_social .facebook:hover {
    background-position: -82px -41px;
}

.list_social .google {
    background-position: -123px 0;
}

.list_social .google:hover {
    background-position: -123px -41px;
}

.footer_text p {
    color: #765598;
    font-family: "Century Gothic", sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0;
}

.clearfix_footer:after {
    content: "";
    clear: both;
    display: block;
}

/*Star*/


.reviewStars-input input:checked ~ label, .reviewStars-input label, .reviewStars-input label:hover, .reviewStars-input label:hover ~ label {
    background: url('../img/star.png') no-repeat;
}

.reviewStars-input {
    left: 50%;
    margin-left: -57px;
    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    /*end of fix floating problems*/
    position: relative;
    float: left;
}

.reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    z-index: 0;
}

.reviewStars-input input:checked ~ label {
    background-position: 0 0;
    width: 15px;
    height: 15px;
}

.reviewStars-input label {
    background-position: 0 0;
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

.reviewStars-input label:hover, .reviewStars-input label:hover ~ label {
    background: url("../img/star_hover.png");
    width: 15px;
    height: 15px;
}


